boto3==1.12.39
numpy==1.18
tifffile==2020.2.16
imagecodecs==2020.2.18
redis
#-e ../../../minerva-lib-python
git+https://github.com/labsyspharm/minerva-lib-python@optimize#egg=minerva-lib
#-e ../../../minerva-db
git+https://github.com/labsyspharm/minerva-db@miniclient#egg=minerva-db
